.loader3 {
	width: 100px;
	height: 100px;
	font-size: 1rem;
	border: 0.625em solid transparent;
	border-top-color: #fff;
	border-bottom-color:#fff;
	border-radius: 50%;
}
@keyframes loader3 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader3--show{
	animation: loader3 4s linear infinite;
}