:root {
	--colorPrimary: #181818;
	--colorSecondary: #f0f0f0;
	--sizeBtn: 3.125em;
	--colorBg: #ccc;
	--borderRadiusContentMenu: 0.3125em;
	--stop: #ff1919;
}
@media (prefers-color-scheme: dark) {
	:root {
		--colorPrimary: #f0f0f0;
		--colorSecondary: #181818;
		--colorBg: #333;
	}
}
.menu_content {
	font-size: 1rem;
}
.btnMenu {
	width: var(--sizeBtn);
	height: var(--sizeBtn);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0;
	position: relative;
	background-color: var(--colorBg);
}
.btnMenu::after {
	content: '';
	width: var(--sizeBtn);
	height: var(--sizeBtn);
	position: absolute;
	top: 0;
	left: 0;
}
@media screen and (min-width: 768px) {
	.btnMenu {
		display: none;
	}
}
.btnMenu__iconBar {
	width: 1.875em;
	height: 0.25em;
	border-radius: 0.125em;
	background-color: var(--colorPrimary);
	position: relative;
}
.btnMenu__iconBar::before,
.btnMenu__iconBar::after {
	content: '';
	background-color: var(--colorPrimary);
	width: 1.875em;
	height: 0.25em;
	border-radius: 0.125em;
	position: absolute;
	display: block;
	top: -0.5em;
	transition: transform 0.3s;
}
.btnMenu__iconBar::after {
	top: 0.5em;
}
.btnMenu__iconBar--bg,
.btnMenu__iconBar--bg::before,
.btnMenu__iconBar--bg::after {
	background-color: var(--stop);
}
.btnMenu__iconBar--show {
	background-color: transparent;
}
.btnMenu__iconBar--show::before {
	top: 0;
	transform: rotate(50deg);
}
.btnMenu__iconBar--show::after {
	top: 0;
	transform: rotate(-50deg);
}

.menu {
	width: 20em;
	padding-left: 0;
	margin: 0 auto;
	list-style: none;
	transform: translateX(-1000%);
}
@media screen and (min-width: 768px) {
	.menu {
		width: 48em;
		display: flex;
		justify-content: space-evenly;
		transform: translateX(0);
		margin-top: 0.3125em;
		background-color: var(--colorBg);
		border-radius: 0.3125em;
	}
}
.menu--show {
	transform: translateX(0);
}
.menu__item {
	--delay: 1;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
	transition-delay: calc(100ms * var(--delay));
	overflow: hidden;
	background-color: var(--colorBg);
}
@media screen and (min-width: 768px) {
	.menu__item {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
		background-color: transparent;
	}
}
.menu__item:nth-child(1) {
	border-top-left-radius: var(--borderRadiusContentMenu);
	border-top-right-radius: var(--borderRadiusContentMenu);
}
.menu__item:last-child {
	border-bottom-left-radius: var(--borderRadiusContentMenu);
	border-bottom-right-radius: var(--borderRadiusContentMenu);
}
.menu__item--show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
.menu__link {
	text-decoration: none;
	font-weight: bold;
	padding: 1em;
	transition: transform 0.3s, color 0.5s, background-color 0.5s;
}
@media (hover: hover) {
	.menu__link:hover {
		color: #ccc;
		transform: scale(1.09) rotate(2deg);
	}
}
